<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">{{webSiteName}}</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	    </ul>
	  </div>
	</nav>
</header>
<main>
	<div class="row">
	  <div class="col-sm-4">
	  	<div *ngIf="users">
			<ul class="list-group users-list">
			  <li class="list-group-item"
			  	*ngFor="let user of users"
			  	(click)="selectUser(user)"
			  	[class.active]="user===activeUser"
			  	>
			  	{{user.name}}
			  </li>
			</ul>
			<user-form (userCreated)="onUserCreated($event)"></user-form>
	  	</div>
	  </div>
	  <div class="col-sm-8">
	  	<user-profile [user]="activeUser"></user-profile>
	  	<div *ngIf="!activeUser">
	  		No User is selected!!
	  	</div>
	  </div>
	</div>
</main>